.question-edit {
  min-width: 70vw;
}

.container-flex {
  margin-top: 25px;
  margin-left: 200px;
  display: flex;
}

.margin-bottom-10 {
  margin-bottom: 25px;
}

.margin-top-1 {
  margin-top: 25px;
}

.margin-top-2 {
  margin-top: 40px;
}

.margin-10-0 {
  margin: 10px 0;
}

.radioButton {
  margin-left: 20px;
}

.answers {
  margin-left: 50px;
  padding: 10px 0;
  min-width: 30vw;
}

label {
  color: white;
}

Box {
  color: white;
}

.correct-answer {
  color: green;
  background-color: lightgreen;
}

.correct-answer .element .style {
  color: green;
}

.radio-button {
  margin-left: 10px;
}
