.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-container {
  margin-top: 50px;
  min-width: 300px;
  max-width: 800px;
  width: 80%;
  height: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("images/chalkboard-chalk-texture-school-board-display-background_43429-108.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.quiz-div {
  text-align: center;
  color: white;
}

.statistics {
  color: lightblue;
  font-weight: bold;
  max-height: 50px;
  margin-bottom: 5px;
}

.question {
  color: white;
  font-size: calc(0.8em + 0.5vw);
  white-space: wrap;
  max-width: 600px;
  height: 75px;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
}

.choice {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer {
  min-width: 300px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.gray-transparent {
  background-color: rgba(255, 255, 255, 0.1);
}

.background {
  background-color: silver;
}

.backgroundImage {
  background-image: url("images/chalkboard-chalk-texture-school-board-display-background_43429-108.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #4c90af;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 4px;
}

.question-pagination {
  color: white;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 30px;
  display: inline-block;
  min-width: 50vw;
  text-align: right;
  display: inline-table;
}

label {
  color: white;
}

buttons button:hover {
  transform: translateY(-2px);
}

.stoperica {
  color: white;
  max-height: 50px;
  margin-top: auto;
}

.answer-icon {
  margin: 10px;
}

.red-icon {
  color: red;
}

.green-icon {
  color: green;
}
