// Variable color definitions

//Layers
$gray1: #0c0c0c;
$gray2: #ebebeb;
$gray3: #fafafa;

//Text
$gray4: #6a6a6a;
$white1: #ffffff;
$blue1: #0069c2;

//Status
$green1: #329864;
$yellow1: #a08209;
$orange1: #d46617;
$red1: #ed0e00;
$gray5: #878787;
$blue2: #1174e6;

//Fills
$gray6: #4e4e4e;
$gray7: #dcdcdc;
$blue3: #105ab0;
$blue4: #4d97ed;
$red2: #bb0b02;
$red3: #d40d02;

// Breadcrumb color variables
$breadcrumb: #1174e6;

// Table link
$tableCell: #1174e6;

$toastSuccessBg: #1174e6;
$toastErrorBg: #ed0e00;
$toastWarningBg: #d46617;
$toastInfoBg: #ffffff;
$toastFontColorLight: #ffffff;
$toastFontColorDark: #000000;
